* ,.cnblogs-markdown code, .cnblogs-post-body code{
	line-height: 2 !important;
	font-family: Georgia, "Helvetica Neue",Helvetica,Arial,sans-serif !important;;
	font-weight: 400;
	font-size: 14px;
}

/*
	background-color: rgba(214 , 219 , 223 , 0.28); 
    color: #c7254e !important;
    font-family: Monaco, Georgia, serif !important;'Comic Sans MS'
*/

#blogTitle h1{
	padding: 0;
}

#blogTitle h1 a {
    font-size: 20px !important;
    font-weight: bold;
    padding-left: 12px;
}

h1, h1 * {
	font-size: 22px !important;
}

#cnblogs_post_body h2 {
	font-size: 18px !important
}

#cnblogs_post_body h3 {
	font-size: 16px !important
}

#blogTitle h2, #cnblogs_post_body h4, #navigator *, .c_b_p_desc, code, code * {
	/*font-size: 13px !important;*/
}

#cnblogs_post_body h5 {
	font-size: 13px !important
}

#cnblogs_post_body h6, .code_copy, .more, .tag {
	font-size: 12px !important
}

.blockquote {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 999;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 15px !important;
	width: 35px;
	height: 35px;
	border: none !important;
	background: 0 0;
}

.blockquote, .blockquote ul {
	margin-left: 0 !important;
}

.blockquote a {
	font-size: 12px !important;
	color: #fff !important;
}

.blockquote:hover {
	width: 220px;
	height: auto;
	border-left: 5px solid transparent !important;
	border-radius: 6px;
	background: #12c2e9;
	background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9) !important;
	border-color: transparent;
	animation-name: none;
}

.blockquote:hover:before {
	content: '☺';
	font-size: 24px;
	color: #fff;
	margin-right: 10px;
}

@keyframes meau {
	0% {
		color: #f64f59;
		right: 50%;
		bottom: 90%;
	}

	50% {
		color: #c471ed;
		right: 50%;
		bottom: 90%;
	}

	80% {
		color: #12c2e9;
	}

	100% {
		color: #000;
	}
}

.blockquote:before {
	position: fixed;
	right: 30px;
	bottom: 10px;
	color: #000;
	content: '◉';
	font-size: 30px;
	cursor: pointer;
}

.blockquote ul>* {
	display: block;
	padding: 5px 0
}

#sidebar_postcategory ul {
	overflow: hidden
}

#sidebar_postcategory li {
	float: left;
	margin: 0 5px 5px 0;
	padding: 0 5px;
	border: 1px solid #ddd;
	border-radius: 1em;
}

pre>i, .xiaoshujiang_code_container>i {
	position: absolute;
	right: 0;
	z-index:1;
	margin: 2px;
	padding: 0 3px;
	border: 2px solid #fff;
	border-radius: 12px;
	color: #fff;
	content: "Copy";
	font-style: normal;
	opacity: 0;
	cursor: pointer;
	transition: all.6s;
	line-height: 1.4 !important;
}

pre:hover>i, .xiaoshujiang_code_container:hover>i {
	opacity: 1
}

::-moz-selection {
	background: #390;
	color: #fff
}

::selection {
	background: #390;
	color: #fff
}

.postBody li, .postCon li {
	margin-bottom: 0;
}

#topics .postTitle {
	font-weight: 400
}

#q {
	border-radius: 1pc;
	padding: 0 .5pc;
	outline: none;
}

#ad_t2, #cnblogs_c1, #cnblogs_c2, #under_post_news {
	display: none !important
}

#home .cnblogs-markdown .hljs, #home .cnblogs-post-body .hljs {
	border: none !important;
}


.entrylistPosttitle a:hover, .postTitle a:hover {
	margin-left: 0;
}

blockquote>.toc>ul>li>ul {
	display: none
}

pre.code {
	overflow: hidden;
	height: 200px;
	position: relative;
}

.postBody{
	position: relative;
}

pre code {
	color: #fff !important;
}

.more {
	position: absolute;
	left: 50%;
	display: block;
	margin-top: -20px;
	margin-left: -25px;
	padding: 5px 10px;
	border-radius: 30px;
	background: #3f3f3f;
	background-image: linear-gradient(-180deg, hsla(0, 0%, 100%, 0) 0, #fff 100%);
	color: #dcdcdc;
	text-align: center;
	font-size: 90%;
	cursor: pointer
}

.more:hover {
	background-image: linear-gradient(-180deg, hsla(0, 0%, 100%, 0) 0, #0f0 100%);
	color: #fff;
}

.cnblogs-markdown code, .cnblogs-post-body code, code {
	display: inline-block;
	border: none !important;
	border-radius: 1em !important;
	color: #c7254e !important;
	vertical-align: middle;
	padding: 0 10px !important;
	line-height: 2 !important;
	background: rgba(214 , 219 , 223 , 0.28) !important;
}
.cnblogs-markdown code[data-info], .cnblogs-post-body code[data-info],code.hljs {
	color: #fff !important;
}

pre code[data-info] {
	line-height: 2 !important;
}

pre code[data-info] span {
	line-height: 1.2 !important;
}

#home {
	/* position: relative; */
}
#header{
	position: absolute;
}
#cnblogs_post_body h1 {
	font-weight: 700;
	font-size: 28px;
	line-height: 1.5;
	border-bottom: 1px solid #ddd;
	width: 100% !important;
}

.jump_page {
	position: fixed;
	display: block;
	width: 25px;
	height: 50px;
	border-radius: 60px;
	background: #3f3f3f;
	background-image: linear-gradient(-180deg, hsla(0, 0%, 100%, 0) 0, #fff 100%);
	color: #dcdcdc !important;
	text-align: center;
	line-height: 50px !important;
	cursor: pointer;
	bottom: 30px;
	font-size: 24px !important;
}

.prev {
	left: 15px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.next {
	left: 40px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.jump_page:hover {
	background-image: linear-gradient(-180deg, hsla(0, 0%, 100%, 0) 0, #0f0 100%);
	color: #fff;
}

.postTitle {
	transition: all .5s
}

.entrylistPosttitle:hover {
	background-color: rgba(214 , 219 , 223 , 0.28); 
    color: #c7254e;
}

#TopViewPostsBlock li:hover, #sidebar_postarchive li:hover, #sidebar_postcategory li:hover {background-color: rgba(214 , 219 , 223 , 0.28);}

#TopViewPostsBlock li:hover *, #sidebar_postarchive li:hover *, #sidebar_postcategory li:hover * {
	color: #c7254e !important;
}

.postDesc {
	background-position: 0 9px
}

#sideBar a {
	font-size: 13px !important;
}

.entrylistPosttitle a {
	font-size: 20px !important;
}

#topics .postTitle {
	width: 98%;
}

.story_image {
	max-width: 98% !important;
}

#AllanboltSignature {
	border-top: #e0e0e0 1px dashed;
	border-right: #e0e0e0 1px dashed;
	border-bottom: #e0e0e0 1px dashed;
	border-left: #e0e0e0 1px dashed;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	font-family: 微软雅黑;
	font-size: 12px;
	background: url(https://www.cnblogs.com/images/cnblogs_com/linyufeng/1373610/o_o_o_info.png) #e5f1f4 no-repeat 1% 50%;
}

#AllanboltSignature div {
	line-height: 25px;
}

/* #F4E5E6 */

.hljs-attr {
	color: #fff;
}

.postTitle>a {
	padding-left: 10px;
}

@media(max-width:767px) {
	blockquote:hover {
		overflow-y: scroll;
		max-width: 280px;
		max-height: 580px;
		max-height: 25pc
	}

	#home {
		margin-top: 0
	}

	.story_image {
		max-width: 100% !important
	}

	#green_channel {
		width: 300px !important;
	}
	#mainContent {
		padding: 0 !important;
	}
	#main {
		width: 96%;
		margin: 0 auto;
	}
}

.day {
	border-left: 3px solid rgba(0, 136, 240,.3);
	padding-left: 20px;
	margin-left: 10px;
	color: rgb(0, 136, 204);
}

.postTitle {
	float: left;
	margin-left: -27px;
	border-left: none;
}

.postTitle:before {
	content: "◉";
	color: rgb(0, 136, 204);
	float: left;
}
h1.postTitle:before {
	content: " ";
	color: rgb(0, 136, 204);
	float: left;
}

.day {
	margin-bottom: 0;
}

.postCon, .postDesc {
	display: none;
}

.postTitle a:hover, .postTitle:hover:before {
	color: #c7254e;
}

.post .postTitle a {
	font-size: 20px !important;
}

.postTitle a {
	display: block;
	padding-left: 30px !important;
	font-size: 16px !important;
}


#main blockquote {
	border-left: 2px solid rgb(239, 239, 239) !important;
}

#MySignature * {
	font-size: 12px !important;
	color: #607D8B;
}

#green_channel {
	width: 99%;
}

#TopViewPostsBlock li {
	border-radius: 4px;
}

#cnblogs_post_body code.hljs {
	background: #3f3f3f!important;
}

.hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag {
	color: #efef8f !important;
}

.hljs-string, .hljs-title, .hljs-section, .hljs-attribute, .hljs-literal, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-addition {
	color: #cc9393 !important;
}

.hljs-comment, .hljs-quote, .hljs-variable,.hljs-deletion, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-meta {
	color: #7f9f7f !important;
}

.hljs-number, .hljs-date, .hljs-regexp, .hljs-literal, .hljs-hexcolor, .smalltalk .hljs-symbol, .smalltalk .hljs-char, .go .hljs-constant, .hljs-change, .lasso .hljs-variable, .makefile .hljs-variable, .asciidoc .hljs-bullet, .markdown .hljs-bullet, .asciidoc .hljs-link_url, .markdown .hljs-link_url {
	color: #8cd0d3 !important;
}

.hljs-keyword, .hljs-id, .hljs-title, .hljs-built_in, .css .hljs-tag, .hljs-javadoctag, .hljs-phpdoc, .hljs-dartdoc, .hljs-yardoctag, .smalltalk .hljs-class, .hljs-winutils, .bash .hljs-variable, .pf .hljs-variable, .apache .hljs-tag, .hljs-type, .hljs-typename, .tex .hljs-command, .asciidoc .hljs-strong, .markdown .hljs-strong, .hljs-request, .hljs-status {
	font-weight: normal !important;
}

.cover {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, .9);
	z-index: 99;
	display: none;
	left: 0;
	top: 0;
	line-height: 800px !important;
}

input.btn_my_zzk {
    line-height: 1 !important;
}
